
body
  padding-right: -10px;
  padding-left: 0x;
  font-size 16px
  display: block;
  height: auto
  font-style: normal;
  font-weight: 300;
  margin-left: -50px;
  margin-right: -200pxpx;
  max-width: 900px;
  min-width: 20px;
  align-self: center;
   

